@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.prevent-scroll {
  overflow-y: hidden;
}

/* NOTE: Makes the transition from light to dark smooth */
* {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}